Reference : https://lsjsj92.tistory.com/568

# NMF ê¸°ë°˜ DKT ë¬¸ì œ ë¶„ì„
- ğŸ¦† ê°œìš” (Overview)
- âš™ï¸ í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ (Environment Setting & Preprocessing)
- ğŸ¯ NMF ë¶„ì„
- ğŸ¯ ì˜ˆì¸¡ ë° í‰ê°€

## ğŸ¦†ê°œìš” (Overview)

### DKT, RS, MF Review

- ë¯¸ì…˜ 8 ë‚´ìš© ì°¸ì¡°
- DKT (Deep Knowledge Tracing) : ì‚¬ìš©ìì˜ í•™ìŠµ ìˆ˜ì¤€ì„ ì¶”ì í•˜ê¸° ìœ„í•œ ë¬¸ì œë¡œ, ì£¼ë¡œ ë¬¸ì œì— ëŒ€í•´ ëŒ€ìƒìê°€ í’€ ìˆ˜ ìˆì„ì§€ ì—¬ë¶€ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œ
- RS (Recommendation System) : ì‚¬ìš©ìì—ê²Œ ì•„ì´í…œì„ ì¶”ì²œí•˜ëŠ” ë¬¸ì œë¡œ, ì•„ì´í…œì— ëŒ€í•œ ì‚¬ìš©ìì˜ ì„ í˜¸ì—¬ë¶€, ì„ í˜¸ë„ (ì·¨í–¥) ë¥¼ ì˜ˆì¸¡. 'ì„ í˜¸'ë¥¼ ë¬¸ì œë¥¼ ë§ì¶œ ê°€ëŠ¥ì„±ìœ¼ë¡œ ë³´ë©´ DKT ë¬¸ì œë¡œ ì¹˜í™˜ ê°€ëŠ¥
- MF (Matrix Factorization) : í–‰ë ¬ ë¶„í•´ ê¸°ë²•ìœ¼ë¡œ, í–‰ë ¬ë¡œ í‘œí˜„ë˜ëŠ” íŠ¹ì„± ë²¡í„°ë¥¼ ì ì¬ ê³µê°„ì— íˆ¬ì˜í•˜ëŠ” íˆ¬ì˜í–‰ë ¬ì„ êµ¬í•˜ëŠ”ë° ì‚¬ìš©. íˆ¬ì˜ì„ í†µí•´ ì‚¬ìš©ìì˜ ì•„ì´í…œì— ëŒ€í•œ ì„ í˜¸ë¥¼ ì ì¬ factorì— ëŒ€í•œ ì„ í˜¸ë¡œ ì¹˜í™˜í•˜ì—¬ RS ë¬¸ì œë¥¼ ì¶”ì • ê°€ëŠ¥


### ë¹„ìŒìˆ˜ í–‰ë ¬ ë¶„í•´ (Non-negative matrix factorization: NMF) ë¥¼ í†µí•œ MF

> ë¹„ìŒìˆ˜ í–‰ë ¬ ë¶„í•´(Non-negative matrix factorization, NMF)ëŠ” ìŒìˆ˜ë¥¼ í¬í•¨í•˜ì§€ ì•Šì€ í–‰ë ¬ Vë¥¼ ìŒìˆ˜ë¥¼ í¬í•¨í•˜ì§€ ì•Šì€ í–‰ë ¬ Wì™€ Hì˜ ê³±ìœ¼ë¡œ ë¶„í•´í•˜ëŠ” ì•Œê³ ë¦¬ì¦˜ì´ë‹¤.[1] í–‰ë ¬ì´ ìŒìˆ˜ë¥¼ í¬í•¨í•˜ì§€ ì•ŠëŠ” ì„±ì§ˆì€ ë¶„í•´ ê²°ê³¼ í–‰ë ¬ì„ ì°¾ê¸° ì‰½ê²Œ ë§Œë“ ë‹¤. ì¼ë°˜ì ìœ¼ë¡œ í–‰ë ¬ ë¶„í•´ëŠ” ì •í™•í•œ í•´ê°€ ì—†ê¸° ë•Œë¬¸ì— ì´ ì•Œê³ ë¦¬ì¦˜ì€ ëŒ€ëµì ì¸ í•´ë¥¼ êµ¬í•˜ê²Œ ëœë‹¤. ë¹„ìŒìˆ˜ í–‰ë ¬ ë¶„í•´ëŠ” ì»´í“¨í„° ì‹œê° ì²˜ë¦¬, ë¬¸ì„œ ë¶„ë¥˜, ìŒíŒŒ ë¶„ì„, ê³„ëŸ‰ë¶„ì„í™”í•™, ì¶”ì²œ ì‹œìŠ¤í…œ ë“±ì— ì“°ì¸ë‹¤.[(Wikipedia)](https://ko.wikipedia.org/wiki/%EB%B9%84%EC%9D%8C%EC%88%98_%ED%96%89%EB%A0%AC_%EB%B6%84%ED%95%B4)

- $V=WH+U$ ê°€ ì„±ë¦½í•˜ëŠ” W, Hë¥¼ êµ¬í•˜ë©°, ì˜¤ì°¨ í¸í–¥ Uë¥¼ ìµœì†Œí™”í•œë‹¤
- $rank(V) = rank_+(V)$ ì¼ë•Œ ë¶„í•´ë¥¼ NMFë¼ê³  í•œë‹¤ ($rank_+(V)$ëŠ” Non-negative rank)
- Non-negative Rank : $rank_+(V)=min\{q| \Sigma_{j=1}^{q}R_j=A, rank(R_1)=...=rand(R_q)=1, R_j \geq 0, \forall{j}\}$ ([ì°¸ê³ ](https://en.wikipedia.org/wiki/Nonnegative_rank_(linear_algebra)))
- Positive (Non-negative) Matrix : $r_{i,j} \geq 0, \forall{i,j} \implies R \geq 0$  ([ì°¸ê³ ](https://en.wikipedia.org/wiki/Nonnegative_matrix))


### ì‹¤ìŠµ ì§„í–‰ ë‚´ìš©

- í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ : DKT ë¬¸ì œì˜ ë°ì´í„°ë¥¼ í˜‘ì—… í•„í„°ë§ì— ë§ëŠ” í˜•íƒœë¡œ ë³€í˜•í•˜ëŠ” ë°©ë²• ì„¤ëª…
- NMF ë¶„ì„ : NMFì˜ ê°œë…ê³¼ ì´ë¥¼ í†µí•´ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ëŠ” ë°©ë²• ì„¤ëª…
- ì˜ˆì¸¡ë° í‰ê°€ : NMF ë¶„ì„ìœ¼ë¡œ ìƒì„±ëœ ë³€í™˜ í–‰ë ¬ì„ í†µí•´ DKT ë¬¸ì œë¥¼ ì¶”ë¡ í•˜ëŠ” ë°©ë²• ì„¤ëª…

## âš™ï¸ í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ (Environment Setting & Preprocessing)

### Loading Library

In [99]:
import numpy as np # linear algebra
import pandas as pd
import random
from sklearn.decomposition import NMF
from sklearn.metrics import accuracy_score, roc_auc_score
import os

### Data Load

In [100]:
data_dir='/opt/ml/input/data'
train_data = pd.read_csv(os.path.join(data_dir,'train_data.csv'))
test_data  = pd.read_csv(os.path.join(data_dir, 'test_data.csv'))

### ë°ì´í„° êµ¬ì„±

- ë°ì´í„°ëŠ” í•™ìŠµ ë°ì´í„°ì…‹ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ìœ¼ë¡œ êµ¬ë¶„ë˜ì–´ ìˆë‹¤.
- ê° ë°ì´í„°ì—ëŠ” userID, assessmentItemID, testId, answerCode, Timestamp, KnowledgeTagì˜ ì •ë³´ê°€ ìˆë‹¤.
- ì—¬ê¸°ì„œ assessmentItemIDëŠ” ë¬¸ì œì˜ ê³ ìœ  IDì´ë©°, answerCodeëŠ” ì‚¬ìš©ìê°€ í•´ë‹¹ ë¬¸ì œì˜ ì •ë‹µì„ ë§ì·„ëŠ”ì§€ ì—¬ë¶€ë¡œ, ë§ì·„ìœ¼ë©´ 1, í‹€ë ¸ìœ¼ë©´ 0ìœ¼ë¡œ í‘œê¸°ëœë‹¤.
- ê¸°ë³¸ì ì¸ í˜‘ì—… í•„í„°ë§ ì ìš©ì„ ìœ„í•´ ë³¸ ì‹¤ìŠµì—ì„œëŠ” userID, assessmentItemID, answerCodeë§Œì„ ì‚¬ìš©í•œë‹¤.

In [101]:
userid, itemid = list(set(train_data.userID)), list(set(train_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

print(f"Train dataset")
display(train_data.head(5))
print(f" Num. Users    : {n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}")
print(f" Num. Records  : {len(train_data)}")

userid, itemid = list(set(test_data.userID)), list(set(test_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

print(f"Test dataset")
display(test_data.head(5))
print(f" Num. Users    : {n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}")
print(f" Num. Records  : {len(test_data)}")

Train dataset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225

 Num. Users    : 6698
 Max. UserID   : 7441
 Num. Items    : 9454
 Num. Records  : 2266586
Test dataset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623

 Num. Users    : 744
 Max. UserID   : 7439
 Num. Items    : 9454
 Num. Records  : 260114

In [102]:
display(test_data.tail(3))

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832

ìœ„ì™€ ê°™ì´ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ì„œëŠ” answerCodeê°€ -1ì¸ ê²½ìš°ê°€ ë‚˜íƒ€ë‚œë‹¤. ì´ëŠ” í‰ê°€ë¥¼ ìœ„í•œ ê²ƒìœ¼ë¡œ í•´ë‹¹ ë ˆì½”ë“œëŠ” ì œì™¸í•˜ê³  ì‹¤ìŠµì„ ìˆ˜í–‰í•œë‹¤.

### Data Preprocessing

ì¤‘ë³µ ë ˆì½”ë“œ ì œê±°
 - RS ëª¨ë¸ì—ì„œëŠ” ì‹œê°„ì— ë”°ë¥¸ ë³€í™”ë¥¼ ê³ ë ¤í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— ìµœì¢… ì„±ì ë§Œì„ ë°”íƒ•ìœ¼ë¡œ í‰ê°€í•œë‹¤.
 - ì‚¬ìš©ì+ë¬¸ì œí•­ëª©ì„ Unique keyë¡œ í•˜ì—¬ ìµœì¢… ë ˆì½”ë“œë§Œì„ ë³´ì¡´í•˜ê³  ë‚˜ë¨¸ì§€ ì œê±°í•œë‹¤.

In [103]:
train_data.drop_duplicates(subset = ["userID", "assessmentItemID"],
                     keep = "last", inplace = True)
test_data.drop_duplicates(subset = ["userID", "assessmentItemID"],
                     keep = "last", inplace = True)

ë¶ˆí•„ìš”í•œ column ì œê±°
- ë‹¤ìŒê³¼ ê°™ì´ pandasì—ì„œëŠ” ë¶ˆí•„ìš”í•œ columnì„ ì œê±°í•  ìˆ˜ ìˆë‹¤.

In [104]:
train_data.drop(['Timestamp','testId','KnowledgeTag'],
                axis=1, inplace=True, errors='ignore')
train_data.head(10)

   userID assessmentItemID  answerCode
0       0       A060001001           1
1       0       A060001002           1
2       0       A060001003           1
3       0       A060001004           1
4       0       A060001005           1
5       0       A060001007           1
6       0       A060003001           0
7       0       A060003002           1
8       0       A060003003           1
9       0       A060003004           1

í‰ê°€ í•­ëª© ì œê±°
- í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ì„œ answerCodeê°€ -1ì¸ í•­ëª©ì€ ìµœì¢… í‰ê°€ì‹œ ì‚¬ìš©ë˜ëŠ” í•­ëª©ìœ¼ë¡œ ì—¬ê¸°ì—ì„  ì‚¬ìš©í•  ìˆ˜ ì—†ë‹¤.
- ì•„ë˜ ê²°ê³¼ì—ì„œì™€ ê°™ì´ User, Item ìˆ˜ëŠ” ë³€í™” ì—†ì´ ì´ ë ˆì½”ë“œ ìˆ˜ë§Œ ë³€í•œë‹¤.

In [106]:
test_data_old = test_data.copy()
n_user_old, n_item_old = n_user, n_item

real_eval_data=test_data[test_data.answerCode<0].copy()
test_data  = test_data[test_data.answerCode>=0].copy()

userid, itemid = list(set(test_data.userID)), list(set(test_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

display(test_data.tail(5))
print(f" Num. Users    : {n_user}->{n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}->{n_item}")
print(f" Num. Records  : {len(test_data_old)}->{len(test_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260108,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132
260109,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832
260110,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244

 Num. Users    : 744->744
 Max. UserID   : 7439
 Num. Items    : 9454->9454
 Num. Records  : 256073->255329

í‰ê°€ í•­ëª© ì‹ ê·œ ìƒì„±
- ë‚¨ì€ í…ŒìŠ¤íŠ¸ í•­ëª© ì¤‘, ê° ì‚¬ìš©ìë³„ ìµœì¢… ë ˆì½”ë“œë¥¼ ìƒˆë¡œìš´ í‰ê°€ í•­ëª©ìœ¼ë¡œ ì •í•œë‹¤.

In [108]:
eval_data = test_data.copy()
eval_data.drop_duplicates(subset = ["userID"],
                     keep = "last", inplace = True)
display(eval_data.head(5))
display(eval_data.tail(5))
print(f" Num. Records  : {len(eval_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1034,3,A050133007,A050000133,0,2020-10-26 13:13:11,5289
1705,4,A070146007,A070000146,1,2020-12-27 02:47:31,9080
3022,13,A070111007,A070000111,1,2020-12-27 04:35:01,9660
4282,17,A090064005,A090000064,1,2020-10-30 05:47:22,2611
4669,26,A060135006,A060000135,0,2020-10-23 11:44:01,1422

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260051,7395,A040122004,A040000122,0,2020-09-08 02:05:18,2102
260066,7404,A030111004,A030000111,1,2020-10-13 09:47:31,7636
260081,7416,A050193003,A050000193,0,2020-10-04 02:44:17,10402
260096,7417,A050193003,A050000193,0,2020-09-06 13:08:54,10402
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244

 Num. Records  : 744

í‰ê°€ í•­ëª©ì„ í…ŒìŠ¤íŠ¸ í•­ëª©ì—ì„œ ì œê±°í•œë‹¤.

In [109]:
real_test_data=test_data.copy()

In [110]:
test_data.drop(index=eval_data.index, inplace=True, errors='ignore')
display(test_data.tail(5))
print(f" Num. Records  : {len(test_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260107,7439,A040197005,A040000197,0,2020-08-21 07:39:40,2132
260108,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132
260109,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832
260110,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244

 Num. Records  : 254585

ì‚¬ìš©ì - ë¬¸ì œí•­ëª© ê´€ê³„ë¥¼ pivot í…Œì´ë¸”ë¡œ ë³€ê²½
 - ê° ì‚¬ìš©ìë³„ë¡œ í•´ë‹¹ ë¬¸ì œë¥¼ ë§ì·„ëŠ”ì§€ ì—¬ë¶€ë¥¼ matrix í˜•íƒœë¡œ ë³€ê²½
 - í•´ë‹¹ ë¬¸ì œë¥¼ í‘¼ ì ì´ ì—†ëŠ” ê²½ìš° 0.5(ì˜ˆì‹œ)ìœ¼ë¡œ ì„¤ì •

In [111]:
matrix_train = train_data.pivot_table('answerCode', index='userID', columns='assessmentItemID')
matrix_train.fillna(0.5, inplace=True)
display(matrix_train.head(5))
print(f"Result Shape is {matrix_train.shape}")

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
userID,,,,,,,,,,,,,,,,,,,,,
0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
6,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

Result Shape is (6698, 9454)

## ğŸ¯ NMF ë¶„ì„

### ë°ì´í„° ì¸ë±ìŠ¤ ë§¤í•‘ ìƒì„±

ì‚¬ìš©ì/ë¬¸ì œí•­ëª© IDì™€ tableìƒì—ì„œì˜ indexë¥¼ ë§¤ì¹­ì‹œí‚¤ê¸° ìœ„í•œ lookup tableì„ dictionary í˜•íƒœë¡œ ìƒì„±

In [112]:
user_id2idx = {v:i for i,v in enumerate(matrix_train.index)}
user_idx2id = {i:v for i,v in enumerate(matrix_train.index)}

item_id2idx = {v:i for i,v in enumerate(matrix_train.columns)}
item_idx2id = {i:v for i,v in enumerate(matrix_train.columns)}

### NMF ë¶„ì„

$X = ${User - Item ê°„ì˜ valueë¥¼ ì €ì¥í•˜ëŠ” matrix}

$X = R^{n_{user} \times n_{item}}$

In [113]:
X = matrix_train.values
display(pd.DataFrame(X, columns=matrix_train.columns).head())

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
3,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
4,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

ìœ„ matrixë¥¼ ë°”íƒ•ìœ¼ë¡œ NMF ë¶„ì„ ìˆ˜í–‰

In [114]:
nmf = NMF(n_components=12)
nmf.fit(X)
Y = nmf.transform(X)

/opt/conda/lib/python3.8/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(
/opt/conda/lib/python3.8/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

ì¶”ë¡ ì„ ìœ„í•´ predict matrix ë³µì›
 - ì²˜ìŒ pivot tableì˜ ê°’ì„ NMFë¡œ êµ¬í•œ matrixë¥¼ í†µí•´ ë³µì›í–ˆì„ ë•Œ, ë‘ í–‰ë ¬ ì‚¬ì´ì˜ ì˜¤ì°¨ (restore error) ëŠ” 0ì— ê°€ê¹Œìš¸ìˆ˜ë¡ NMFê°€ ì˜¬ë°”ë¥´ê²Œ êµ¬í•´ì§

In [115]:
X_pred = nmf.inverse_transform(Y)
restore_error = np.sum(np.square(X_pred - X)) /X_pred.size
print(f"Restore Error : {restore_error}")

Restore Error : 0.0076142635981724

## ğŸ¯ ì˜ˆì¸¡ ë° í‰ê°€

### í•™ìŠµ ë°ì´í„° ì¬í˜„ í‰ê°€

ì˜ˆì¸¡ í•¨ìˆ˜ ì •ì˜

In [116]:
def predict(userid, itemid):
    useridx = user_id2idx[userid]
    itemidx = item_id2idx[itemid]
    
    return X_pred[useridx, itemidx]

í•™ìŠµì— ì‚¬ìš©í•œ ë°ì´í„°ë¥¼ ì–¼ë§ˆë‚˜ ì˜ ì˜ˆì¸¡í•˜ëŠ”ì§€ í‰ê°€

In [117]:
a_prob = [predict(u,i) for u,i in zip(train_data.userID, train_data.assessmentItemID)]
a_pred = [round(v) for v in a_prob] 
a_true = train_data.answerCode

print("Train data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Train data prediction
 - Accuracy = 76.15%
 - ROC-AUC  = 77.97%

In [118]:
print(len(a_prob))
a_prob[:5]

2220633

[0.722356553120757,
 0.7172303640519588,
 0.7022089416510257,
 0.7228440992214077,
 0.7093717094151408]

ìœ„ ì½”ë“œì—ì„œëŠ” ì´ë¯¸ í•™ìŠµëœ ì‚¬ìš©ìì— ëŒ€í•´ì„œë§Œ ì¶”ë¡ ê°’ì„ ê³„ì‚° ê°€ëŠ¥í•˜ë‹¤.

- í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ì‚¬ìš©ìëŠ” í•™ìŠµ ë°ì´í„°ì…‹ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤.
- ë”°ë¼ì„œ í•´ë‹¹ ì‚¬ìš©ìì˜ ê°’ì„ ê°€ì ¸ì˜¬ ìˆ˜ ì—†ê¸°ì— í‚¤ ì—ëŸ¬ê°€ ë°œìƒí•œë‹¤.

In [119]:
try:
    a_prob = [predict(u,i) for u,i in zip(test_data.userID, test_data.assessmentItemID)]
    a_pred = [round(v) for v in a_prob]
    a_true = test_data.answerCode

    print("Test data prediction")
    print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
    print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")
except:
    print("Error Occurs!!")

Error Occurs!!

### í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¬í˜„ í‰ê°€

í•™ìŠµë˜ì§€ ì•Šì€ ì‚¬ìš©ìì— ëŒ€í•´ì„œë„ ë¬¸ì œë¥¼ í‘¼ ë°ì´í„°ê°€ ì¡´ì¬í•  ê²½ìš° ì´ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì¶”ë¡  ê°€ëŠ¥í•˜ë‹¤.

$B = $ {í•™ìŠµë˜ì§€ ì•Šì€ ì‚¬ìš©ìì— ëŒ€í•œ User - Item ê°„ value í–‰ë ¬}

$ A = U \Sigma V$ ì¼ë•Œ factor matrx $A_{factor} = R^{n_{user} \times n_{factor}}$ ì¸ $A_{factor}$ ëŠ”
- $A_{factor} \Sigma V = A$
- $A_{factor} = A {(\Sigma V)}^+ = A V^T \Sigma^+  $ ($U, V$ ëŠ” ì§êµí–‰ë ¬)

$ B_{pred} \approx B_{factor} \Sigma V  = B V^T \Sigma^+ \Sigma V$

In [120]:
def predict(matrix, userid, itemid, user_id2idx, item_id2idx):
    X = matrix
    X_pred = nmf.inverse_transform(nmf.transform(X))

    ret = [X_pred[user_id2idx[u], item_id2idx[i]] for u,i in zip(userid, itemid)]
    return ret

í•™ìŠµ ë°ì´í„° ì¬í˜„ ì„±ê³µë¥

In [121]:
a_prob = predict(matrix_train.values, train_data.userID, train_data.assessmentItemID, user_id2idx, item_id2idx)
a_true = train_data.answerCode
a_pred = [round(v) for v in a_prob]

print("Train data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Train data prediction
 - Accuracy = 76.15%
 - ROC-AUC  = 77.97%

In [122]:
print(len(a_prob))
a_prob[:5]

2220633

[0.722356553120757,
 0.7172303640519588,
 0.7022089416510257,
 0.7228440992214077,
 0.7093717094151408]

í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¬í˜„ ì„±ê³µë¥

In [123]:
# item_id2idxëŠ” trainì—ì„œ ì‚¬ìš©í•œ ê²ƒì„ ë‹¤ì‹œ ì‚¬ìš©í•œë‹¤.
userid = sorted(list(set([u for u in test_data.userID])))
user_id2idx_test = {v:i for i,v in enumerate(userid)}

matrix_test = 0.5*np.ones((len(userid), len(item_id2idx)))
for user,item,a in zip(test_data.userID, test_data.assessmentItemID, test_data.answerCode):
    user,item = user_id2idx_test[user],item_id2idx[item]
    matrix_test[user,item] = a

# ì„±ëŠ¥ ì¸¡ì •
a_prob = predict(matrix_test, test_data.userID, test_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = test_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 75.62%
 - ROC-AUC  = 77.29%

In [124]:
print(len(a_prob))
a_prob[:5]

254585

[0.6163606112193646,
 0.5326641227218643,
 0.5583177353868735,
 0.6361983806080543,
 0.5776611361699301]

### í…ŒìŠ¤íŠ¸ í‰ê°€ ë°ì´í„° ì¬í˜„ í‰ê°€

í…ŒìŠ¤íŠ¸ ë°ì´í„° ê¸°ë°˜ ì„ ë³„ëœ í‰ê°€í•­ëª© ì¶”ë¡

In [125]:
a_prob = predict(matrix_test, eval_data.userID, eval_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = eval_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 71.64%
 - ROC-AUC  = 75.48%

In [126]:
print(len(a_prob))
a_prob[:5]

744

[0.5393966024487716,
 0.6371842657968889,
 0.44287857250366863,
 0.6672922671926579,
 0.558564435108218]

# Inference

In [127]:
def predict(matrix, userid, itemid, user_id2idx, item_id2idx):
    X = matrix
    X_pred = nmf.inverse_transform(nmf.transform(X))

    ret = [X_pred[user_id2idx[u], item_id2idx[i]] for u,i in zip(userid, itemid)]
    return ret

In [128]:
# item_id2idxëŠ” trainì—ì„œ ì‚¬ìš©í•œ ê²ƒì„ ë‹¤ì‹œ ì‚¬ìš©í•œë‹¤.
userid = sorted(list(set([u for u in real_test_data.userID])))
user_id2idx_test = {v:i for i,v in enumerate(userid)}

matrix_test = 0.5*np.ones((len(userid), len(item_id2idx)))
for user,item,a in zip(real_test_data.userID, real_test_data.assessmentItemID, real_test_data.answerCode):
    user,item = user_id2idx_test[user],item_id2idx[item]
    matrix_test[user,item] = a

# ì„±ëŠ¥ ì¸¡ì •
a_prob = predict(matrix_test, real_test_data.userID, real_test_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = real_test_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 75.61%
 - ROC-AUC  = 77.29%

In [129]:
print(len(a_prob))
a_prob[:5]

255329

[0.6164048536718825,
 0.5326233191683962,
 0.5583093755766838,
 0.6362453411900573,
 0.5776570647024208]

In [130]:
real_eval_data

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289
1706,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080
3023,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660
4283,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611
4670,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422
...,...,...,...,...,...,...
260052,7395,A040122005,A040000122,-1,2020-09-08 02:05:20,10615
260067,7404,A030111005,A030000111,-1,2020-10-13 09:49:18,7636
260082,7416,A050193004,A050000193,-1,2020-10-04 02:44:41,10402
260097,7417,A050193004,A050000193,-1,2020-09-06 13:09:15,10402
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832

In [131]:
a_prob = predict(matrix_test, real_eval_data.userID, real_eval_data.assessmentItemID, user_id2idx_test, item_id2idx)
# a_true = eval_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
# print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
# print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction

In [133]:
print(len(a_prob))
a_prob

744

[0.5704580396671269,
 0.649998864797505,
 0.4426949704319842,
 0.6440040530131592,
 0.4726912673480518,
 0.6081804724499869,
 0.5271250540972756,
 0.48213976461904245,
 0.4247165359699464,
 0.5506028113039302,
 0.5104467257220566,
 0.4845515088651715,
 0.6195170729959653,
 0.5022127162100354,
 0.6755839386957376,
 0.7381854691693692,
 0.48145104834205354,
 0.6228250284381223,
 0.6699852978678021,
 0.40396124325695126,
 0.7487728737486012,
 0.5154057555162987,
 0.4900021825447476,
 0.4758392549186678,
 0.48681692014036665,
 0.5467982614996896,
 0.5438521433031118,
 0.7306030188259444,
 0.508350747668556,
 0.6832894009550682,
 0.6159759314738802,
 0.5484663047537789,
 0.5290298737125636,
 0.499381227284189,
 0.6949670308387393,
 0.7328360494895836,
 0.4503092374109669,
 0.4982229866077885,
 0.5648344378298843,
 0.5025490164043676,
 0.5115644191792764,
 0.35966842111849084,
 0.3738232866978977,
 0.4388942293244055,
 0.5500344330056585,
 0.517757010979133,
 0.6313163914835414,
 0.4087944456280808,
 0.5724094332858812,
 0.5542804092123731,
 0.6035453407123823,
 0.5915241002708361,
 0.6352930054319061,
 0.41730212499415015,
 0.4716915537615388,
 0.5109333575557147,
 0.4993407106661977,
 0.510455609495336,
 0.4874775712279382,
 0.5306067730269205,
 0.6504420248638924,
 0.7323764832129372,
 0.5382936430542515,
 0.329620531913091,
 0.39767285613966524,
 0.4980284355746519,
 0.5306035705857532,
 0.4520398793648795,
 0.5098623307672815,
 0.5253299586218129,
 0.6204465205171751,
 0.550210785936402,
 0.4826125309340921,
 0.4342497396999832,
 0.5122303414461011,
 0.5123523438221155,
 0.4287203950522948,
 0.6297436964186169,
 0.4961670950347264,
 0.520494716960775,
 0.446123253699605,
 0.5342780872239189,
 0.5107728661048304,
 0.5195080659803192,
 0.5308103603718878,
 0.548467993867972,
 0.5140286107207833,
 0.4954981182177637,
 0.49903773438485227,
 0.5068414336189168,
 0.42934023706644264,
 0.4668046191913445,
 0.3104225952223175,
 0.6102998981995009,
 0.5979509919591034,
 0.5887444823243015,
 0.4686775831246965,
 0.505955459833147,
 0.5640677292299319,
 0.6170353037887221,
 0.4975243902418476,
 0.4847561368914601,
 0.5161060283312134,
 0.4794873419388801,
 0.5262082109745415,
 0.6077504592804742,
 0.7176375244553064,
 0.5641145083581247,
 0.5273561340423409,
 0.48336783367650576,
 0.5417424723909298,
 0.5895932785901835,
 0.4688360153696476,
 0.4802170994600586,
 0.49363443593032663,
 0.5357154621126603,
 0.5113416761026295,
 0.420632276481781,
 0.43359702177991294,
 0.40674823653075537,
 0.6178904156085117,
 0.5474603753531857,
 0.572281018206024,
 0.44887440601815237,
 0.4921391559333795,
 0.5119163557638134,
 0.5834907281099547,
 0.5045316371265153,
 0.5142448487252987,
 0.5061657356564636,
 0.764531048337783,
 0.5211460674266806,
 0.5403989500746301,
 0.3601932730045916,
 0.5353957824385149,
 0.5128820582753932,
 0.4990221533834075,
 0.6110295239590136,
 0.5411888874150176,
 0.5196361797965977,
 0.5483454608385309,
 0.5432234404347163,
 0.4792348842227893,
 0.5251301539655172,
 0.7004106543852291,
 0.4763370933094108,
 0.6158257418419807,
 0.5572900518048873,
 0.3785193071702724,
 0.5830517690638264,
 0.4316026242135129,
 0.4875767557028208,
 0.6576218465270579,
 0.46403425994359465,
 0.40670339757985075,
 0.49764118989043804,
 0.44279300071948896,
 0.541955343310313,
 0.4764472163767741,
 0.4757895475809127,
 0.5185206267592394,
 0.4719579457559345,
 0.5136302602779094,
 0.5155570186520984,
 0.6027839697792761,
 0.6071916894482151,
 0.5171934300186056,
 0.26577364854892777,
 0.5224902534691487,
 0.47875072858128853,
 0.5102690814790789,
 0.5391399844055214,
 0.49179316271779405,
 0.49617631680791724,
 0.5094208776654747,
 0.5394064275169637,
 0.56594688432711,
 0.5268400805507193,
 0.4635649716930119,
 0.3113364895201303,
 0.5205465550378654,
 0.47882992320059914,
 0.5487162789889148,
 0.5084278924344281,
 0.542648043069256,
 0.7042011533758856,
 0.5189135887228594,
 0.5554676526327145,
 0.7348744110994943,
 0.4487169198556074,
 0.49161444458193115,
 0.3996002550211937,
 0.5028070779774552,
 0.5732434940754499,
 0.5114611137321107,
 0.5052982744903988,
 0.5966171365358645,
 0.5972731571248995,
 0.5758366171058643,
 0.47813063583895377,
 0.5723851384669211,
 0.4932502260058742,
 0.33053845602657966,
 0.5258979990272391,
 0.5076777500124211,
 0.5918843481138133,
 0.4887483776422317,
 0.491789928359428,
 0.5451929006642814,
 0.4866964734499673,
 0.5375365552434712,
 0.5596449005966324,
 0.4657668607986428,
 0.4820099077186324,
 0.4919614438828379,
 0.5028678568572036,
 0.5594073707441645,
 0.5249050263434264,
 0.5435744133583953,
 0.621838278545152,
 0.5205970825028177,
 0.5154073491181551,
 0.4696682397350259,
 0.6569182855255066,
 0.754328586941612,
 0.500574430318181,
 0.5207890037748903,
 0.4754911770961005,
 0.4862825096805351,
 0.47883480992751243,
 0.447867761790053,
 0.5626065706356578,
 0.5052759128361087,
 0.5083622132305781,
 0.6089981647526358,
 0.5016397480954461,
 0.4933726234722619,
 0.3256310695512492,
 0.5012854115101613,
 0.561478095691152,
 0.5141311184500834,
 0.4922140924187567,
 0.43235190692388414,
 0.5105135796451429,
 0.681066586031168,
 0.5034198933255863,
 0.499387316865871,
 0.6072520201141702,
 0.48544336287258233,
 0.4916754508326657,
 0.6475457313746137,
 0.5363347665874101,
 0.5375720794211809,
 0.5611006058378663,
 0.43436471306776003,
 0.41781620534948,
 0.503160847374247,
 0.49277610946061423,
 0.5018644602530739,
 0.5100264595852394,
 0.4946942045655006,
 0.49961244759592455,
 0.5097330363256547,
 0.4461427501710273,
 0.27633849509691294,
 0.593200428767621,
 0.5116955085055782,
 0.6536129903215491,
 0.49567980745691237,
 0.47820440075908804,
 0.49077363850501804,
 0.41731161245677545,
 0.49740077048206416,
 0.6160330271371991,
 0.501274181618386,
 0.48001300289803694,
 0.5681657376703763,
 0.49177117236158024,
 0.4951161132144778,
 0.5609382284307974,
 0.5319022538958429,
 0.492346673933704,
 0.4936874742789753,
 0.5432919472885543,
 0.5401150422189138,
 0.46289267481458457,
 0.4497426487382781,
 0.5109351094915487,
 0.524238877912351,
 0.5782325536840252,
 0.5015330184097909,
 0.49579848606351645,
 0.49917598172043187,
 0.5008721217195357,
 0.4757501880889487,
 0.4253163252304115,
 0.4911206961073105,
 0.5005220662137913,
 0.5136146586482265,
 0.49910378086726914,
 0.5351780918796731,
 0.48920334933628445,
 0.5074798963463283,
 0.5196428264986103,
 0.49859532156540676,
 0.47417017406575274,
 0.5087271330638631,
 0.5462652005095538,
 0.47787669971049074,
 0.5133105274040064,
 0.5100090501350136,
 0.502393333049806,
 0.520569192249843,
 0.5120965249471234,
 0.47284277692825116,
 0.58053351054924,
 0.5193099218166576,
 0.49149265904818046,
 0.4562685429107064,
 0.5413417604840324,
 0.4808594146644987,
 0.6286887708974792,
 0.5504674293506159,
 0.48750311693481524,
 0.47608319015394013,
 0.49860356219069724,
 0.5241236567932346,
 0.41156415102387184,
 0.5134953457192022,
 0.5079086357006996,
 0.5162326970886877,
 0.4825972165034408,
 0.49387831903423385,
 0.4954008064257176,
 0.5810930628567514,
 0.5163554045232261,
 0.45090886738054914,
 0.5436855462504391,
 0.5935530321084195,
 0.5959014768500512,
 0.512530615506418,
 0.501420259317314,
 0.5102086536381942,
 0.5128759824542389,
 0.487195489889995,
 0.5251187529753636,
 0.5215488545686235,
 0.49164895829423677,
 0.5031873881302078,
 0.5122656328019453,
 0.54362747853749,
 0.47902501783054113,
 0.4900399873398075,
 0.5033021710124761,
 0.5640211907752095,
 0.5658938943625994,
 0.5029865129295799,
 0.48197579332758816,
 0.5205154100856516,
 0.49536719843195604,
 0.5122145758558829,
 0.4938275094422782,
 0.48929784906457424,
 0.4809803049307984,
 0.49950349664258353,
 0.5098402727016422,
 0.5094398358442415,
 0.48010731234996273,
 0.48817897301793167,
 0.4935863258585642,
 0.4955220020674954,
 0.534555694206884,
 0.5210404242337096,
 0.6351139248271475,
 0.48689367171048337,
 0.5535304971348521,
 0.5481351730859576,
 0.506126459320845,
 0.5224910133686036,
 0.4948302469332146,
 0.4919153478560898,
 0.5318995495528446,
 0.5163917549483065,
 0.5012040907231422,
 0.49550815985074304,
 0.4710791476721331,
 0.522882464390377,
 0.5182570848564251,
 0.5377826337177563,
 0.5113318847658744,
 0.48660081154364804,
 0.499684236470779,
 0.4458813972254888,
 0.5022696568088418,
 0.530730924017285,
 0.51042343311226,
 0.5043668758452832,
 0.5175697245505749,
 0.4790046818087553,
 0.4910764603568576,
 0.722249438500809,
 0.5067685535451808,
 0.5099207336119252,
 0.4552882648194807,
 0.5046653195593225,
 0.5037342767336691,
 0.5728016317761281,
 0.5001297684872836,
 0.48496628744788717,
 0.5130256824265312,
 0.5192393343633815,
 0.48682008216434475,
 0.5076108281541982,
 0.5007620854930355,
 0.4940969686153544,
 0.4964229519125649,
 0.5265258311551057,
 0.4969142616419655,
 0.5084755928018301,
 0.5166925427417169,
 0.5225859431223874,
 0.5036771178423473,
 0.49985067148312856,
 0.5045134705886041,
 0.5090308141843676,
 0.4849613550133068,
 0.5213545143000536,
 0.5101300494701169,
 0.5029508968162533,
 0.5351977784942882,
 0.5166456171637404,
 0.4935208513816549,
 0.5396238675219573,
 0.5149854304339383,
 0.5017587931995983,
 0.5085767284240746,
 0.481149801795006,
 0.4963620201086104,
 0.5101989580016056,
 0.49782128578067014,
 0.4998159074241923,
 0.49767902270283654,
 0.4858539465207362,
 0.5082265381378392,
 0.49653221553020843,
 0.5239646824752981,
 0.5027020429035105,
 0.5151512858037777,
 0.4913466489228665,
 0.5104975377823276,
 0.5329403687082418,
 0.5177486479714958,
 0.48922772691846694,
 0.45061418508149736,
 0.4967326170890826,
 0.49747879387720545,
 0.5029693260040611,
 0.5099819581864313,
 0.5083970225502624,
 0.49379587835076355,
 0.5096715441843539,
 0.5176480542731114,
 0.5141678371872143,
 0.5016153937902095,
 0.5060791317248472,
 0.49620849558176516,
 0.51122213310835,
 0.4875683998766221,
 0.5008841436026565,
 0.5132925780873859,
 0.4850389265817616,
 0.49794482432028997,
 0.5004655734175464,
 0.4939958097868544,
 0.4989208042578713,
 0.4916283319376138,
 0.49295362745353366,
 0.5011795385515564,
 0.5904592928998744,
 0.5070801108062943,
 0.49828607689870236,
 0.5000550415769079,
 0.48570576031761464,
 0.4959388777939411,
 0.5165747521259837,
 0.4900162496388201,
 0.4994600694550175,
 0.4953905547115315,
 0.4886235127455733,
 0.4892136932119861,
 0.4849911698772513,
 0.49853063182169177,
 0.5352698537849041,
 0.4912059459154189,
 0.49832924475259704,
 0.4959070259599184,
 0.4883642671076383,
 0.48357278138273985,
 0.4912063831836608,
 0.5147998443330067,
 0.5063019578696296,
 0.5038998210349168,
 0.4821507551036406,
 0.5009850183135771,
 0.4990715207202479,
 0.5065804620029183,
 0.5084587727227257,
 0.5160603065498338,
 0.5074144616565953,
 0.4886041908001939,
 0.5026898467949236,
 0.5001658759736951,
 0.5051442943927155,
 0.518661296359318,
 0.5034175654296537,
 0.5104464724684512,
 0.524697345313752,
 0.4974883293175959,
 0.4955568351853399,
 0.49999152344365105,
 0.5055426728542884,
 0.5102362689825141,
 0.4979221729837945,
 0.48497805476251604,
 0.5198965166141892,
 0.5186700218279724,
 0.5185465348846033,
 0.49365635055529095,
 0.5066292801490724,
 0.5102443756387312,
 0.4916617611858913,
 0.4901971229741605,
 0.493820983006754,
 0.4995100639326756,
 0.4952242537572393,
 0.5043555308055071,
 0.5044821354026605,
 0.5009950629094471,
 0.48505240691177587,
 0.49569589367900574,
 0.5188417146929384,
 0.5096368643760517,
 0.5088107275626037,
 0.4989936936616125,
 0.49535309772857566,
 0.5117859751419419,
 0.5055952915141569,
 0.5980179571104157,
 0.5056880020685116,
 0.5129158269656374,
 0.5046453126564381,
 0.494455372648312,
 0.5138673386278283,
 0.5009041136956405,
 0.49792120046256194,
 0.49742842146034427,
 0.4957503364208494,
 0.49453462555159994,
 0.5029985736396542,
 0.5090953043015461,
 0.5064007373222438,
 0.5252437080897668,
 0.5004098678467473,
 0.49637090301561954,
 0.5151416859659744,
 0.4987518038375074,
 0.4926561891369984,
 0.522211988022069,
 0.48774757640817223,
 0.49028661105430604,
 0.48796846871379945,
 0.5024155508373844,
 0.49253980219178295,
 0.4980893963336922,
 0.49691274864780877,
 0.4999959976862618,
 0.48901426638978673,
 0.4954864100203146,
 0.5008266250930152,
 0.5098502025393727,
 0.5026834181695389,
 0.5284423181537938,
 0.5189971867198332,
 0.515111763092208,
 0.5038004592610601,
 0.4949792804674079,
 0.5038372411578994,
 0.4945067823354909,
 0.503315773886302,
 0.5066282167877735,
 0.4886556994042807,
 0.5003707395304342,
 0.49790596052474206,
 0.5077276580150587,
 0.5005584605734305,
 0.49344279694087834,
 0.5234747561586622,
 0.49868303074864095,
 0.5002358721381805,
 0.5099005357596818,
 0.5121102083263187,
 0.4950004802106643,
 0.5096635790115343,
 0.5011024938928513,
 0.5076028494449331,
 0.4992906938719811,
 0.4944520624138447,
 0.5030359616588989,
 0.48775625342035395,
 0.5055730808497848,
 0.4972662819151453,
 0.49597700325506616,
 0.5138781056652679,
 0.49933466625586237,
 0.4968255441999621,
 0.5094590439708395,
 0.5406941113053015,
 0.4862226639629679,
 0.4923223882717721,
 0.49119618473471227,
 0.49699968116633564,
 0.4873882788768135,
 0.4918206298480866,
 0.49635449413989435,
 0.49683408241767923,
 0.49021037415394686,
 0.4934966376114222,
 0.5105262863196447,
 0.4866185363378282,
 0.5076653160577927,
 0.491826050747154,
 0.5044664109394047,
 0.5068805326912108,
 0.5014288419285917,
 0.5001948830785303,
 0.489441911491463,
 0.509791225216368,
 0.5018624904182926,
 0.4988874532860243,
 0.49495222636274067,
 0.5017087324351209,
 0.4990184341081442,
 0.49170823551985837,
 0.49371075931221176,
 0.4937984426562579,
 0.4917087682614773,
 0.487197882252223,
 0.502131213645692,
 0.5003436428643865,
 0.4983424255342913,
 0.4967771342103766,
 0.4953967272658406,
 0.507336666754471,
 0.5135680489574384,
 0.4874507709033142,
 0.4950457560912609,
 0.4921585701469502,
 0.5109180048133863,
 0.4996742616676101,
 0.49024678354946144,
 0.4992540300232016,
 0.5109379873403995,
 0.5010821096932132,
 0.49162774181845503,
 0.49786018898474355,
 0.5028912605853069,
 0.5003031814802524,
 0.4879979149401969,
 0.4983694900636432,
 0.4947372925253544,
 0.49819388422187166,
 0.48201750751526756,
 0.5100039723885119,
 0.49058582755395364,
 0.5011192093139711,
 0.5148192915922991,
 0.490653858732113,
 0.5122560202659626,
 0.5023159859686994,
 0.4884752061864372,
 0.5038770873278574,
 0.5051631779909337,
 0.5045480663078694,
 0.5028021549906687,
 0.5034441321038978,
 0.5027158587322675,
 0.5000440060927183,
 0.5093459141050757,
 0.5098068189325922,
 0.5081749101008524,
 0.4987274512649969,
 0.49219282507111534,
 0.49914002803557866,
 0.5007805546735582,
 0.5065518187814123,
 0.4919684315867379,
 0.49030072571102173,
 0.4938711784558021,
 0.5053101818364051,
 0.5080528142174408,
 0.49597304938123304,
 0.5134387781017197,
 0.5069981057531036,
 0.5122983013798259,
 0.4986129977150943,
 0.4947766117841292,
 0.4867605344725791,
 0.49723858715905694,
 0.4889026493350594,
 0.49125037283805306,
 0.506023370041246,
 0.4965233253170371,
 0.49765461190701393,
 0.4816135244714844,
 0.4899373331978855,
 0.5044124391023185,
 0.5061466754280752,
 0.4963174298914933,
 0.49647801054338075,
 0.5032166307696958,
 0.4844239683932072,
 0.49887604089558013,
 0.4955796137970651,
 0.4997591063900244,
 0.5070947945657108,
 0.5072828660312129,
 0.49131109612827784,
 0.4905188108840675,
 0.5021481192931445,
 0.490846359539531,
 0.5145582628423957,
 0.4992924836924589,
 0.5003239122300761,
 0.48945457097442446,
 0.4984034317716598,
 0.50810925356049,
 0.5061319834762922,
 0.4969442895469674,
 0.4972435555268971,
 0.4943302393566713,
 0.5002957422138145,
 0.5093509668408829,
 0.5095108770027605,
 0.5035639462342074]

In [137]:
data=list()
for id in range(len(a_prob)):
    data.append([id,a_prob[id]])

submit=pd.DataFrame(columns=['id','prediction'], data=data)
submit.head()

   id  prediction
0   0    0.570458
1   1    0.649999
2   2    0.442695
3   3    0.644004
4   4    0.472691

In [138]:
# SAVE OUTPUT
output_dir = "output/"
write_path = os.path.join(output_dir, "submission.csv")
if not os.path.exists(output_dir):
    os.makedirs(output_dir)
submit.to_csv(write_path)